
*{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

main{
    width: 80vw;
    height: 100vh;
    display:flex;
    margin: auto;
}

.card{
    width: 25%;
    height: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    
}

.yellow{
    background-image: url('../images/icon-sedans.svg');
    background-repeat: no-repeat;
    background-color: hsl(31, 77%, 52%);
    border-radius: .5rem 0 0 .5rem;

}

.green{
    background-color: hsl(184, 100%, 22%);
    background-image:url('../images/icon-suvs.svg');
    background-repeat: no-repeat;
}

.darkGreen{
    background-color: hsl(179, 100%, 13%);
    background-image: url('../images/icon-luxury.svg');
    background-repeat: no-repeat;
    border-radius: 0 .5rem .5rem 0;
}

.center{
    padding: 3rem;
}

.button-Yellow{
    color: yellow;
    border-radius: .5rem;
}

.button-green{
    color: green;
    border-radius: .5rem;
}

.button-DarkGreen{
    color: rgb(23, 80, 23);
    border-radius: .5rem;
}

h1{
    font-size: 2.5rem;
}